header .navbar-brand {
  PADDING: 0; }
header h1 {
  FONT-WEIGHT: bold;
  color: #E8663C; }
  header h1 span {
    color: #F1AE9D; }
header .navbar-nav > li > a {
  MARGIN-TOP: 10PX;
  FONT-SIZE: large;
  FONT-WEIGHT: 600;
  color: #A6A6A6; }
  header .navbar-nav > li > a:hover {
    color: #E8663C;
    background-color: transparent; }

footer {
  background-color: #F1AE9D;
  color: white;
  MARGIN-TOP: 2%; }
  footer .container {
    border-left: 15px solid white;
    border-right: 15px solid white;
    width: 90%;
    background-color: #E8663C;
    padding: 2% 0 5%; }
    footer .container .contac h2 {
      margin: 10% 0; }
    footer .container .contac p {
      margin-bottom: 30PX; }

.bg-line-pink {
  background-color: #F1AE9D;
  height: 50px; }

.separacion {
  margin: 3% 0; }
  .separacion h4 {
    color: #E8663C;
    font-weight: bold;
    MARGIN: 0; }
  .separacion .bg-line {
    background-image: url("../images/heading-bg.png");
    background-repeat: repeat-x;
    background-size: contain;
    HEIGHT: 20PX; }

.banner {
  bottom: 50px;
  position: relative;
  text-align: center;
  border-left: 15px solid white;
  border-right: 15px solid white;
  background-color: #E8663C; }
  .banner img {
    width: 100%; }

.banner-line {
  height: 50px; }
  .banner-line h1 {
    margin: 0;
    padding: 5px;
    text-align: left;
    color: white;
    font-weight: 600;
    font-size: 2em; }

.-about p {
  font-size: 1.3em;
  margin-bottom: 5%; }
.-about .img-about-us {
  border: 1px solid #A6A6A6;
  padding: 5px;
  width: 210px; }
  .-about .img-about-us img {
    width: 100%; }
.-about blockquote {
  margin: 0 0 30px 40px;
  border-left: 11px solid #E8663C;
  color: #F1AE9D; }

.blog-img img {
  width: 100%; }

.btn-float {
  position: absolute;
  left: -75px; }

.-blog h3 {
  color: #E8663C;
  font-weight: bold; }
.-blog p {
  font-size: 1.2em; }
.-blog .col-xs-3 {
  margin-top: 25px; }
  .-blog .col-xs-3 p:nth-child(2n+1) {
    color: #E8663C;
    font-weight: bold; }

.bgn-quote {
  background-image: url("../images/quote_bg.png");
  background-repeat: repeat;
  background-size: contain;
  padding: 3%; }
  .bgn-quote div {
    display: inline-block;
    vertical-align: top;
    margin-right: 15px; }
  .bgn-quote p {
    display: inline-block;
    width: 90%;
    font-weight: 600;
    font-size: 1.3em; }

.pag {
  padding: 4% 0; }
  .pag a {
    color: #E8663C;
    font-weight: bold;
    color: white;
    padding: 1% 2%;
    margin: 0 5px; }

.map {
  margin-bottom: 5%; }
  .map img {
    width: 100%; }

.-contac {
  padding: 0; }
  .-contac p {
    font-size: 1.2em;
    margin-bottom: 25px; }
    .-contac p .orange {
      color: #E8663C; }

form textarea, form .form-control {
  border: 1px solid #E8663C;
  border-radius: 0;
  margin-bottom: 10px;
  font-size: 1.3em;
  color: #E8663C;
  width: 100%;
  PADDING: 1%; }
form .form-control {
  height: 45px; }
form .btn {
  BACKGROUND: #E8663C;
  COLOR: WHITE;
  PADDING: 2%;
  FONT-SIZE: 1.5EM;
  WIDTH: 100%;
  FONT-WEIGHT: bolder; }

.-porta .img-blog {
  padding: 1px;
  margin-bottom: 5px; }
  .-porta .img-blog:nth-child(2) {
    text-align: left;
    padding: 3%; }
    .-porta .img-blog:nth-child(2) h3 {
      margin: 0; }

.nav-porta {
  margin: 0;
  padding: 0 2%; }
  .nav-porta h3 {
    display: INLINE-BLOCK;
    font-weight: bold;
    margin-right: 25px; }
  .nav-porta a {
    DISPLAY: INLINE-BLOCK;
    FONT-SIZE: 1.4EM;
    PADDING: 10PX;
    font-weight: bold;
    color: #A6A6A6;
    text-decoration: none; }
    .nav-porta a:hover {
      color: white;
      background-color: #E8663C; }

aside {
  font-size: 1.2em; }
  aside .col-xs-4, aside .col-xs-8 {
    padding: 0;
    margin: 20px 0; }
  aside a {
    display: block;
    text-decoration: none;
    color: black;
    margin: 5px 0; }
  aside .img-galery div {
    display: inline-block;
    border: 1px solid red;
    margin: 0 5px 10px;
    width: 50px;
    height: 50px; }
    aside .img-galery div img {
      width: 100%; }

* {
  font-family: 'Open Sans Condensed', sans-serif; }

/******************HOME***********************/
.servicios {
  margin: 0; }
  .servicios .box-items {
    padding: 1%;
    margin-bottom: 25px; }
    .servicios .box-items img {
      display: inline-block;
      vertical-align: top;
      margin-right: 5px; }
    .servicios .box-items h3 {
      display: inline-block;
      width: 80%;
      vertical-align: top;
      margin: 0;
      color: #E8663C;
      padding: 2%; }
  .servicios .btn {
    background: #E8663C;
    border-radius: 0;
    border-color: #E8663C;
    color: white;
    margin: 10px 0;
    font-weight: 600; }

.blog {
  margin: 4% 0;
  text-align: center; }
  .blog .img-blog {
    border: 1px solid #A6A6A6; }
    .blog .img-blog img {
      width: 100%; }
    .blog .img-blog h3 {
      color: #A6A6A6; }
    .blog .img-blog p {
      color: #E8663C; }

/****************PORTFOLIO**************/
/**************CONTAC US******************/
/**************BLOG******************/
/**************ABOUT US******************/

/*# sourceMappingURL=main.css.map */
