.-about{
	p{
	font-size: 1.3em;
    margin-bottom: 5%;
	}

	.img-about-us{
		border: 1px solid $gray;
	    padding: 5px;
	    width: 210px;
	    img{
	    	width: 100%;
	    }
	}
	blockquote{
		margin: 0 0 30px 40px;
    	border-left: 11px solid $orange;
    	color: $pink;
	}
}